# Dependency folders 
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build folders 
dist/
build/
.vuepress/dist/
docs/.vuepress/dist/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local databases / Temporary files
*.db
*.sqlite
pids
*.pid
*.seed
*.lock